@model AuthenticationViewModel

@{
    ViewBag.Title = "Change Your Password";
    Layout = "~/Views/_PrivateLayout.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        @Html.Partial("_ModalStateErrors")
        <form action="@Url.Action("ChangePassword", "User")" method="post">
            @Html.HiddenFor(x => x.Page, new { @Value = "ChangePassword" })
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="full-width">
                                <tr>
                                    <td class="va-m" width="70%">
                                        <h4>@ViewBag.Title</h4>
                                    </td>
                                    <td class="va-m" width="30%">
                                        <button class="btn btn-primary full-width"><strong>Change Password</strong></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Password, "New Password")
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PasswordConfirmation, "New Password Again")
                                @Html.PasswordFor(x => x.PasswordConfirmation, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>